"LIBRARY YANG PERLU DI INSTALL"

numpy (Digunakan untuk manipulasi array dan operasi numerik, seperti membuat mask dan memilih koordinat acak)

opencv-python (Pustaka utama untuk pengolahan gambar dan video, seperti membaca frame webcam, memanipulasi gambar, dan menampilkan hasil)

mediapipe (Digunakan untuk deteksi wajah dan landmark wajah menggunakan solusi Face Mesh)
